@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}
.page-header {
  position: relative;
  padding-left: 238px;
  min-height: 64px;
  padding-right: 70px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header-link {
  color: #333333;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  color: #333333;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}
.navigation-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  width: 500px;
}

.navigation-user {
  margin: 0;
  padding: 14px 0 14px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 268px;
  margin-left: auto;
  justify-content: flex-end;
  gap: 10px 0;
}

.navigation-item-favourites {
  padding: 0;
  position: relative;
}

.favourites-quantity {
  position: absolute;
  top: -3px;
  right: 6px;
  padding: 5px 5px 5px 4px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  min-width: 10px;
  height: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #7db54f;
}

.navigation-item-button {
  margin: 0 0 0 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation-link-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 36px;
  text-decoration: none;
}

.navigation-link-search:hover {
  color: red;
}

.navigation-link-search:active {
  color: green;
}

.navigation-link-favourites {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 36px;
  text-decoration: none;
  position: relative;
}

.navigation-link-favourites:hover {
  color: red;
}

.navigation-link-favourites:active {
  color: green;
}

.navigation-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 34px;
  background-color: #756157;
  border-radius: 4px;
  display: block;
}

.welcome {
  background-image: url("../images/divider.svg"),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center top;
  background-size: 100% 57px, cover;
  padding: 50px 0 83px;
  min-height: 352px;
  background-color: #2e393b;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
}

.advantages-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages-text {
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.advantages-list {
  /* display: flex;
  flex-wrap: wrap; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  background-color: rgba(130, 179, 211, 0.2);
}
.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.122);
}

.advantages-item-special {
  background-color: rgb(130, 179, 211);
}

.advantages-container {
  width: 400px;
  padding-top: 113px;
  padding-bottom: 111px;
}

.advantages-item-special {
  grid-column: 1/-1;
  display: flex;
}

.advantages-item-special .advantages-container {
  color: #ffffff;
  text-align: center;
  padding-top: 103px;
  padding-bottom: 100px;
}

.advantages-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  padding-bottom: 62px;
  position: relative;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.302);
  margin: 15px auto 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.advantages-item-special .advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.302);
  margin: 15px auto 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.advantages-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
}

.advantages-item-image {
  display: block;
}

.services {
  padding: 65px 0 0;
}

.services-caption {
  width: 505px;
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  margin: 0 auto 64px;
  width: 490px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.services-item {
  background-color: rgba(131, 179, 211, 0.122);
  background-repeat: no-repeat;
  padding: 183px 0 81px;
}

.services-item.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-item-title {
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 230px;
}

.services-item-house {
  background-image: url("../images/house-icon.svg");
  background-position: top 81px center;
}

.services-item-food {
  background-image: url("../images/food-icon.svg");
  background-position: top 83px center;
}

.services-item-souvenirs {
  background-image: url("../images/souvenirs-icon.svg");
  background-position: top 79px center;
}

.search-hotel {
  padding: 96px 304px;
  background-color: #ffffff;
  text-align: center;
}

.search-hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-hotel-text {
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
}

.search-hotel-link {
  display: inline-block;
  width: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  background-color: #756157;
}
.footer-conteiner {
  display: flex;
  flex-wrap: wrap;
}
.subscribe {
  background-image: url("../images/subscribe-bg.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #ffffff;
  padding-bottom: 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 96px;
  text-align: center;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}
.appointment-form {
  display: flex;
  justify-content: flex-end;
  margin-right: 258px;
  height: 52px;
}

.subscribe-email-input {
  display: inline-block;
  font-family: inherit;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 434px;
  padding-left: 16px;
  border: none;
}
.subscribe-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: 232px;
  background-color: #82b3d3;
  padding-top: 3px;
  border: none;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 49px 70px 30px 79px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 142px;
  justify-content: space-between;
}

.social-button {
  color: red;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social-button:hover {
  color: blue;
}

.social-button:focus {
  color: green;
}

.social-button:active {
  color: orange;
}

.phone-number-link {
  color: #333333;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.html-academy-logo {
  color: red;
}

.html-academy-logo:hover {
  color: green;
}

.html-academy-logo:active {
  color: orange;
}

.html-academy-logo:visited {
  color: blueviolet;
}

/* Страница Каталог */
.inner-header {
  color: #ffffff;
  background-color: grey;
  padding-top: 35px;
  padding-left: 70px;
  background-image: url("../images/catalog-inner-background.jpg");
  background-repeat: no-repeat;
  padding-right: 10px;
}

.inner-header-title {
  margin: 0 0 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.breadcrumbs-item {
  padding-right: 17px;
  position: relative;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item::before {
  content: "";
  width: 7px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 5px;
  background: url(../images/arrow-breadcrumps-icon.svg) no-repeat 0 0;
}

.breadcrumbs-item:last-child {
  padding: 0;
  margin: 0;
  background: none;
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 34px 0 0;
  border: 0;
}

.catalog-filter-group.cost {
  width: 288px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.checkbox {
  margin-bottom: 13px;
}

.checkbox-label {
  font-size: 18px;
  line-height: 23px;
  position: relative;
  padding-left: 36px;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

.checkbox-label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 5px;
  width: 12px;
  height: 10px;
  background: url("../images/tick-checkbox-icon.svg") no-repeat 0 0;
  display: none;
}

.control-input:checked + .control-label::after {
  display: block;
}

.radio-button-label {
  font-size: 18px;
  line-height: 23px;
  position: relative;
  padding-left: 36px;
}

.radio-button-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
}

.radio-button-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: rgb(63, 94, 114);
  border-radius: 50%;
  display: none;
}

.catalog-filter-checkbox {
  margin-right: 75px;
}

.cost-conteiner {
  display: flex;
}

.min-cost-conteiner {
  position: relative;
}

.input-cost {
  margin: 0;
  padding: 0;
  /* border: none; */
  outline: none;
  font: inherit;
  /* color: inherit; */
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.input-cost-min-value {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-cost-max-value {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cost-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  position: absolute;
  color: rgba(0, 0, 0, 1);
  top: 12px;
  left: 116px;
}

.max-cost-conteiner {
  position: relative;
}

.results-title-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 51px;
  padding-left: 75px;
  justify-content: flex-end;
}

.results-title {
  margin: 0;
  padding-top: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
}

.results-view-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style: none;
}

.inner-header {
  width: 1200px;
  height: 412px;
}

.price-slider-container {
  position: relative;
  width: 287px;
  height: 6px;
  background: transparent;
  margin: 40px;
}

.slider-track {
  position: absolute;
  height: 3px;
  width: 269px;
  background-color: rgb(96, 105, 108);
  border-radius: 3px;
  top: 3px;
  left: -20px;
}

.slider-range {
  position: absolute;
  width: 209px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  top: 3px;
  left: -20px;
}

.slider-thumb {
  position: absolute;
  top: -7px;
  left: -37px;

  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.slider-thumb.max {
  left: 170px;
}

.inner-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 56px;
}

.button {
  width: 191px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-submit {
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
  cursor: pointer;
}

.button-reset {
  background: transparent;
  border: none;
  padding: 8px 50px;
  margin: 0;
  /* font: inherit; */
  color: inherit;
  cursor: pointer;
}

.results-view-item {
  width: 48px;
  height: 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.product-card-list {
  margin: 0;
}

.product-card-title {
  margin: 0;
}
