@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}
.page-header {
  position: relative;
  padding-left: 238px;
  min-height: 64px;
  padding-right: 68px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header-link {
  color: #333333;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  color: #333333;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}
.navigation-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  width: 500px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 268px;
}


.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-item-search {
  padding: 22px 12px;
}
.navigation-item-favourites {
  padding: 22px 12px;
  position: relative;
}
.favourites-quantity {
  position: absolute;
  top: 11px;
  left: 20px;
  padding: 5px 5px 5px 4px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #7DB54F;
}
.navigation-item-button {
  margin: 14px 0 14px 20px ;
  padding: 8px 34px;
  background-color: #756157;
  border-radius: 4px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.navigation-link-search {
  display: inline-block;
  background-image: url("../images/search-icon.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;
}
.navigation-favourites {
  display: inline-block;
  background-image: url("../images/favourites-icon.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;
}

.navigation-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

}

.welcome {
  background-image: url("../images/divider.svg"),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center top;
  background-size: 100% 57px, cover;
  padding: 50px 0 83px;
  min-height: 352px;
  background-color: #2e393b;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.advantages-subtitle {
  margin: 0;
  margin-top: 69px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.services-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.services-item-house {
  width: 400px;
  background-image: url("../images/house-icon.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.services-item-food {
  width: 400px;
  background-image: url("../images/food-icon.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}
.services-item-souvenirs {
  background-image: url("../images/souvenirs-icon.svg");
  width: 400px;
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.search-hotel {
  padding: 96px 304px;
  min-height: 214px;
  background-color: #fff;
  text-align: center;
}

.search-hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel-text {
  margin: 0;
  text-align: center;
  margin-top: 20px;
}

.search-hotel-link {
  display: inline-block;
  width: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 54px;
  padding: 8px 50px;
  background-color: #756157;
}

.subscribe {
  background-image: url("../images/subscribe-bg.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  color: #ffffff;
  min-height: 415px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 96px;
  text-align: center;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400;

}
.appointment-form{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: 54px 258px;
  height: 52px;
}

.subscribe-email-input {
  display: inline-block;
  font-family: PT Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 430px;
  padding-left: 16px;
}
.subscribe-button {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: 232px;
  background-color: #82B3D3;
  padding-top: 8px;
}

.social-button {
  color: #333333;
  text-decoration: none;
}
.vkontakte {
  display: inline-block;
  background-image: url("../images/vk-icon.svg");
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;
}

.telegram {
  display: inline-block;
  background-image: url("../images/telegram-icon.svg");
  width: 18px;
  height: 15.1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;
}

.youtube {
  display: inline-block;
  background-image: url("../images/youtube-icon.svg");
  width: 22px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;
}

.phone-number-link {
  color: #333333;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
